# Terraform
production/terraform/.terraform/
production/terraform/.terraform.lock.hcl
production/terraform/terraform.tfstate
production/terraform/terraform.tfstate.backup
production/terraform/terraform.tfvars
production/terraform/*.tfplan
production/terraform/tfplan

# Node
app/frontend/node_modules/

# Python
app/backend/__pycache__/
app/backend/*.pyc
app/backend/.env

# Docker
app/.env

# SSH keys
*.pem

# kubeconfig
kubeconfig

# OS
.DS_Store
Thumbs.db


#others
COMMAND.TXT
LOCAL_SETUP.md